@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --red-rose:#EA5454;
  --teal :#44D3D2;
  --light-orange:#FCAE4A;
  --sky-blue:#549EF2;
  --charcoal-gray: #4D4F62;
  --body-color: #F2F2F2;
  --white:#FFFFFF;

  /* SHADOWS */
  --shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 25%) ;

  /* TYPOGRAPHY */

  --ff: Poppins,sans-serif;
  
  --top-title-mob: 200 1.5rem var(--ff);
  --bottom-title-mob:600 1.5rem var(--ff);
  --body-mob: 400 .9375rem/1.5625rem var(--ff);
  --title-mob: 600 1.25rem var(--ff);

  --top-title: 200 2.25rem var(--ff);
  --bottom-title:600 2.25rem var(--ff);
  --body-2 : .8125rem/1.4375rem var(--ff);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}
.nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}
.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 1rem;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  padding: 1rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}
a:any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.main-card__body{
  width: 100%;
  max-width: 375px;
  height: auto;
  padding: 3rem 1.5rem;
}
.main-card__header{ 
  width: 100%;
  max-width: 311px;
  height: auto;    
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto 4.75rem;
}
.main-card__title{
  width: 100%;
  max-width: 297px;
  height: auto;
  display: flex;
  flex-flow: column;
  gap: .0625rem;
  margin-bottom: 1rem;
}
.main-card__title-top{
  font:var(--top-title-mob);
  color: var(--charcoal-gray);
  letter-spacing:0.17px;
}
.main-card__title-bottom{
  font:var(--bottom-title-mob);
  color: var(--charcoal-gray);
  letter-spacing:0.17px;
}
.main-card__details{
  font: var(--body-mob);
  color: var(--charcoal-gray);
  letter-spacing: 0.1px;
  opacity: 50%;
  width: 100%;
  max-width: 311px;
}
.main-card__section-div{
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
}
.main-card__section {
  background-color: var(--white);
  width: 100%;
  max-width: 311px;
  height: auto;
  min-height: 222px;
  box-shadow: var(--shadow);
  padding: 1.6875rem 1.75rem 2.5256rem 1.75rem;
  border-radius: 8px; 
  position: relative;
}

.main-card__section-line1{
  border-top: 6px solid var(--teal);
}
.main-card__section-line2{
  border-top: 6px solid var(--red-rose);
}
.main-card__section-line3{
  border-top: 6px solid var(--light-orange);
}
.main-card__section-line4{
  border-top: 6px solid var(--sky-blue);
}
.main-card__section-title{
  font: var(--title-mob);
  color:var(--charcoal-gray);
  opacity: 100%;
  margin-bottom: .0625rem;  
}
.main-card__section-details{
  font: var(--body-2);
  color: var(--charcoal-gray);
  letter-spacing: 0.09px;
  opacity: 50%;
  width: 100%;
  max-width: 254px;
  margin-bottom: 2.0625rem;
}
img{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 57px;
  height: 57px;
}

/*TABLET VIEW*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .main-card__body { 
    padding: 4rem 2rem;
    width: 100%;
    max-width: 760px;
    height: auto;
  }
  
  .main-card__header {
    max-width: 540px;
  }
  
  .main-card__title {
    max-width: 444px;
  }
  
  .main-card__details {
    max-width: 540px;
  }
  
  .main-card__section-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    justify-content: center;
  }
  
  .main-card__section {
    width: 100%;
    min-height: 250px;
    margin: 0;
  }
  
  .main-card__section-center {
    display: contents; /* Allows the children to participate in the grid layout */
  }
  
  img {
    width: 64px;
    height: 64px;
  }
}

/* DESKTOP VIEW*/
@media screen and (min-width:1024px) {
  .main-card__body{ 
    padding: 5rem 2rem;
    width: 100%;
    max-width: 1440px;
    height: 922px;
    margin: 0 auto;
  }
  
  .main-card__header{ 
    width: 100%;
    max-width: 540px;
    height: auto;   
    margin: 0 auto;  
  }
  
  .main-card__title{
    width: 100%;
    max-width: 444px;
    height: auto;  
    gap: 0; 
  }
  
  .main-card__title-top{
    font:var(--top-title); 
    letter-spacing:0.25px;
  }
  
  .main-card__title-bottom{
    font:var(--bottom-title);
    letter-spacing:0.25px;
  }
  
  .main-card__details{
    width: 100%;
    max-width: 540px;
  }
  
  .main-card__section-div{ 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: calc(100%-330px);
    max-width: 1110px;
    margin: 4rem auto 0;
  }
  
  .main-card__section-first__child {
    margin-top: 8.75rem;
  }
  
  .main-card__section-center{
    display: flex;
    flex-flow: column;
    gap: 30px;
  }
  
  .main-card__section-fourth__child{ 
    margin-top: 8.75rem;
  }

  .main-card__section {  
    width: 350px;
    height: 250px;
    padding: 2rem;
    flex-shrink: 0;
  }

  .main-card__section-wrapper{
    width: 100%;
    height: 100%;
  }
  
  .main-card__section-title{
    margin-bottom: .375rem;  
  }
  
  .main-card__section-details{ 
    width: 100%;
    max-width: 286px;
    margin-bottom: 2.5rem;
  }
  
  img { 
    width: 64px;
    height: 64px;
  }  
}